:root {
    --logo-border-radius: 15px;
    --app-sidebar-width: 100px;
    --color-main: #7c7dfa;
    --color-secondary: #9277ff;
    --color-dark: #1e2139;
    --color-dark-secondary: #252945;
    --color-gray-light: #dfe3fa;
    --color-gray-dark: #888eb0;
    --color-accent: #7e88c3;
    --color-coal: #0c0316;
    --color-warning: #ec5757;
    --color-warning-hover: #ff9797;
    --color-warning-bg: rgba(255, 151, 151, 0.1);
    --column-gap-m: 20px;
    --column-gap-s: 10px;
    --color-light: #f8f8fb;
    --color-bg: var(--color-light);
    --color-success: #33d69f;
    --color-success-bg: rgba(51, 214, 159, 0.1);
    --color-pending: #ff9001;
    --color-pending-bg: rgba(255, 143, 0, 0.1);
    --color-draft: #dee3f9;
    --color-draft-bg: rgba(222, 227, 249, 0.1);
    --color-invoice-item-bg: #fff;
    --color-text-main: var(--color-dark);
    --color-text-secondary: var(--color-gray-dark);
    --color-text-hover: var(--color-main);
    --button-default-color: var(--color-main);
    --button-default-hover-color: var(--color-secondary);
    --button-default-text-color: var(--color-light);
    --button-secondary-color: var(--color-dark-secondary);
    --button-secondary-hover-color: #fff;
    --button-secondary-text-color: var(--color-gray-light);
    --button-dark-color: #373b54;
    --button-dark-hover-color: var(--color-coal);
    --button-dark-text-color: var(--color-gray-light);
    --input-border-color: transparent;
}
:root.dark-theme {
    --color-bg: #141625;
    --color-invoice-item-bg: var(--color-dark);
    --button-secondary-color: var(--color-light);
    --button-secondary-hover-color: var(--color-gray-light);
    --button-secondary-text-color: var(--color-accent);
    --button-dark-text-color: var(--color-light);
    --input-border-color: #21233a;
    --color-text-main: #ddd;
}